.footer-text{
    font-size: 12px;
    white-space: nowrap;
}

@include mobile-first(375px){
    .footer-wrap{
        flex-direction: row !important;
    }

    .footer-text{
        font-size: 16px;
    }
}